.col-md-4
  //- h1 2. Select Gradient
  select.form-control(data-bind="value: selectedLocation")
    option(value='tc') Top Center
    option(value='tl') Top Left
    option(value='tr') Top Right
    option(value='bl') Bottom Left
    option(value='br') Bottom Right
