select.select.form-control(data-bind="value: selectedColor")
  option(value='blue') Blue
  option(value='grey') Grey
  option(value='lime') Lime
  option(value='mint') Mint
  option(value='orange') Orange
  option(value='pink') Pink
  option(value='purple') Purple
  option(value='red') Red
  option(value='teal') Teal
  option(value='yellow') Yellow
