@import 'mixins'

@import 'blue'
@import 'grey'
@import 'lime'
@import 'mint'
@import 'orange'
@import 'pink'
@import 'purple'
@import 'red'
@import 'teal'
@import 'yellow'


.hipsterbg
  width 100%
  height 100%