yellow-start = #ffe463
yellow-middle = #ffdd39
yellow-end = #ffd300

.hipsterbg
  &.yellow
      background radial-gradient(ellipse at 50% 0%, yellow-start 10%, yellow-middle 50%,  yellow-end 120%)
      &.tl
        background radial-gradient(ellipse farthest-side at top left, yellow-start 10%, yellow-middle 50%,  yellow-end 120%)
        &.noise
          bgnoise(radial-gradient(ellipse farthest-side at top left, yellow-start 10%, yellow-middle 50%,  yellow-end 120%))
      &.tr
        background radial-gradient(ellipse farthest-side at top right, yellow-start 10%, yellow-middle 50%,  yellow-end 120%)
        &.noise
          bgnoise(radial-gradient(ellipse farthest-side at top right, yellow-start 10%, yellow-middle 50%,  yellow-end 120%))
      &.bl
        background radial-gradient(ellipse farthest-side at bottom left, yellow-start 10%, yellow-middle 50%,  yellow-end 120%)
        &.noise
          bgnoise(radial-gradient(ellipse farthest-side at bottom left, yellow-start 10%, yellow-middle 50%,  yellow-end 120%))
      &.br
        background radial-gradient(ellipse farthest-side at bottom right, yellow-start 10%, yellow-middle 50%,  yellow-end 120%)
        &.noise
          bgnoise(radial-gradient(ellipse farthest-side at bottom right, yellow-start 10%, yellow-middle 50%,  yellow-end 120%))